<form action="/answer">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ask Coach anything!</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="question" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>